// Font
$font-small: 14px;
$font-regular: 16px;
$font-medium: 18px;
$font-large: 24px;
$font-xlarge: 32px;

// Color
$primary: #3EACA8;
$secondary: #A2D4AB;
$dark: #403B3B;
$dark-alt: #BBBBBB;
$light: #F4F4F4;

// Spacing
$spacing-xsmall: 2px;
$spacing-small: 4px;
$spacing-medium: 8px;
$spacing-large: 16px;
$spacing-xlarge: 32px;
$spacing-2xlarge: 64px;
$spacing-jumbo: 128px;